// Define variables for your color scheme

// MAIN COLOUR SCHEME:
$dark-blue: #242474;
// for the navbar, and as accent colour
$orange: #F58C40;
// secondary colour, for buttons and other small components (medium-priority)
$background-color: #F6F1EF;
// for the background of every page

// PRIORITY COLOUR CODING
$high-priority-color: #E84A4A;
$medium-priority-color: #F4C778;
$low-priority-color: #75C16C;

// CATEGORY COLOUR CODING
$Groceries-color: #e7703c;
$Personal-color: #1F9586;
$Work-color: #5310f1;

// for some strange reasons it wants to have all the colors
// Pre-set colors:
// $red: #FD1015;
// $blue: #0D6EFD;
$yellow: #ecaa2e;
$green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
