// Define variables for your color scheme

// For example:
$red: #D13852;
$light-blue: #05C3FD;
$yellow: #EACB49;
$orange: #F58C40;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

$high-priority-color: #E41C1C;
$medium-priority-color: #F58C40;
$low-priority-color: #40AE36;

$grocery-color: #E41C1C;
$medical-color: #F58C40;
$vacation-color: #40AE36;
$study-color: #E41C1C;
$work-color: #F58C40;

// Pre-set colors:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
