.icon-plus{
  display: flex;
  justify-content: center;
  align-items: center;

}


.search-connect{
  margin-top: 36px;
  margin-bottom: 36px;
}



.form-control{
  border-radius: 8px;
}



.btn-connect{
  border-radius:8px ;
  color: white;
  font-weight: 600;
}


.card-connect{
  margin-bottom: 16px;
  }

.name_connect{
  display: flex;
  align-items: center;
}
