// Specific CSS for your home-page
.task-new {
  box-shadow: 6px 6px 6px rgba(42, 41, 41, 0.08);
  border: 2px solid #E7E7E7;
  border-radius: 10px;
}

.task-time {
  height: 6rem;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.08);
  border: 2px solid #E7E7E7;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;

}

.task-due {
  height: 5rem;
}

.shadow-new {
  box-shadow: 6px 6px 6px rgba(42, 41, 41, 0.08);
  border: 2px solid #191818;
  border-radius: 2px;
}
