<div class="card unlocked-achievement-card d-flex flex-row my-3">
    <%=image_tag url_for("1task-done-badge.png"), class: 'locked-achievement-img' %>

    <div class="unlocked-achievement-info">
      <h4></i> <%= achievement.name %> </h4>
      <%= achievement.description %>
    </div>
</div>
