<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-6">
        <%# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> %>
        <div class="position-relative">
        </div>

        <div class="container mt-1 text-center">
           <%= image_tag "todocoach.png", class: "avatar text-center mt-4", id: "pop-up-avatar" %>
        </div>

        <div class="modal-body text-center">
        <h1 class="modal-title fs-5 text-center fw-bolder" id="exampleModalLabel">You crushed this!</h1>
          Now on to the next one.
        </div>

        <div class="reminder-container mt-5 position-relative">
          <p>How about adding another?</p>
        </div>

      <div>
        <%= render 'task_card', task: @remaining_task  , index: 0 %>
        <button class="btn-message btn btn-reminder"><%= link_to "Add a new one!", "new_task_path" %></button>
      </div>        <%# </div> %>
      <%# </div> %>
      <%# </div> %>
    </div>
  </div>
</div>
