<div class="container mt-5 task-message">
     <div class="row">
      <div class="col-12 col-lg-6">
        <div class="position-relative">
        </div>

        <div class="container mt-1 text-center">
           <%= image_tag "To Do Coach glasses (1).png", class: "avatar text-center mt-4", id: "pop-up-avatar" %>
        </div>

        <div class="modal-body text-center">
        <h1 class="message-slogan fs-5 text-center fw-bolder">Good job!</h1>
          Todo is very proud of you!
        </div>

        <div class="reminder-container mt-5 position-relative">
          <p>Do you want to save another one?</p>
          <%= link_to new_task_path do%>
           <button class="btn-message btn btn-reminder">Add a New Task</button>
        <% end %>
        </div>
     </div>
 </div>
</div>
</div>
