<div class="container mt-5">
     <div class="row">
      <div class="col-12 col-lg-6">
        <div class="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="position-relative">
          <button id="close" type="button" class="position-absolute top-0 end-0 me-1 mt-1 rounded-circle" data-bs-dismiss="modal" aria-label="Close" style="color: white">x</button>
        </div>

        <div class="container mt-1 text-center">
           <%= image_tag "todocoach.png", class: "avatar text-center mt-4", id: "pop-up-avatar" %>
        </div>

        <div class="modal-body text-center">
        <h1 class="modal-title fs-5 text-center fw-bolder" id="exampleModalLabel">Good job!</h1>
          Todo is very proud of you!
        </div>
      </div>
     </div>
    </div>
 </div>
</div>
</div>
