<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
        <%# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> %>
        <div class="position-relative">
        </div>

        <div class="container text-center">
           <%= image_tag "todocoach.png", class: "avatar text-center", id: "pop-up-avatar" %>
        </div>

        <div class="text-center">
        <h1 class="message-slogan text-center fw-bolder">You crushed this!</h1>
         <span> Congratulations on completing: </span><strong><%= @task.title %> </strong>🎉
        </div>

        <div class="reminder-container mt-4 position-relative">
          <p>On to the next one!</p>
        </div>

      <div class="upcomming-task">
        <%= render 'task_card', task: @remaining_task  , index: 0 %>
        <button class="btn-message btn btn-reminder"><%= link_to "Let's Add a New Task", "new_task_path" %></button>
      </div>        <%# </div> %>
      <%# </div> %>
      <%# </div> %>
    </div>
  </div>
</div>
