<div class='container todays-tasks'>

<h6> <%= day %> </h6>
<h2> <%= @message %> </h2>
<p> Today is a brand new day. And it's yours. </p>

<% @tasks.each_with_index do |task, index| %>
  <%= render 'task_card', task: task, index: index %>
<% end %>
<div class='d-flex justify-content-end mt-4'>
  <%= link_to new_task_path do %>
    <i class="fa-solid fa-plus btn-circle"></i>
  <% end %>
</div>

</div>
