<div class="card achievement-card d-flex flex-row my-3">
  <%= cl_image_tag achievement.name, class: 'achievement-img' %>
  <div class="achievement-info">
    <h4></i> <%= achievement.name %></h4>
    <%= achievement.description %>
  </div>
</div>
