<nav class="navbar fixed-bottom navbar-team d-flex justify-content-around">
  <div class="navbar-brand">
    <%= link_to tasks_path do %>
      <i class="fa-solid fa-list"></i>
    <% end %>
  </div>
  <div class="navbar-brand">
    <%= link_to todays_tasks_path do %>
      <i class="fa-solid fa-house-user"></i>
    <% end %>
  </div>
  <div class="navbar-brand">
    <% if user_signed_in? %>
      <%= link_to feed_user_path(current_user) do %>
        <i class="fa-solid fa-user-group"></i>
      <% end %>
    <% else %>
      <i class="fa-solid fa-user-group"></i>
    <% end %>
  </div>
</nav>
