
<nav class="navbar fixed-bottom navbar navbar-dark bg-secondary d-flex justify-content-around">
  <div>
    <a class="navbar-brand">  <i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
  <div>
    <i class="fa-solid fa-house-user"></i>
  </div>
  <div>
    <li>
      <%= image_tag "image", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }%>
   </li>
  </div>
</nav>
