<p>blablabla</p>
<p>blablabla</p>
<p>blablabla</p>

<% if !user_signed_in? %>
  <%= link_to new_user_registration_path do %>
    <button class="btn btn-primary">Sign up</button>
  <% end %>
  <%= link_to new_user_session_path do %>
    <button class="btn btn-primary">Log in</button>
  <% end %>
<% end %>
