.btn-circle{
  border-radius: 50%;
  background-color: $orange;
}

.btn-save{
  border-radius:8px ;
  color: white;
  font-weight: 600;
}


.btn-reminder{
  border-radius: 8px;
  color: white;
  font-weight: 500;
  background-color: #5D5FDF;
}

// .fa-pencil {
//   color: $dark-blue;
// }
