@import '../config/font-sizes';

$icon-area-width: 24px;
$delete-red: rgb(214, 77, 77);
$save-green: rgb(116, 203, 116);

.card {
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0 6px 4px rgba(black, 0.2);
}

.task-card {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: $medium-font;
}

.modal-body {
  margin: 10px;
}

.input-field {
  background-color: whitesmoke;
  box-shadow: 2px 2px 16px rgba($color: #000000, $alpha: 0.2);
  border: none;
  border-radius: 8px;
  // margin: 0px 12px 0px 4px;
}

.date-field {
  background-color: whitesmoke;
  box-shadow: 2px 2px 16px rgba($color: #000000, $alpha: 0.2);
  border: none;
  border-radius: 8px;
  // margin: 0px;
}

.actions-container{
  height: 100%;
}

.flex-child {
  flex: 1;
  width: 10.5rem;
  // width: 50%;
  height: inherit;
  border-radius: 30px;

}

.action-button-delete{
  text-align: left;
  padding-left: 16px;
  transition: .3s ease;
  background: $delete-red;
    &:hover{
      background: darken($delete-red, 10);
    }
  i{
    line-height: 250px;
  }
}

.input-field {
  background-color: rgba(245, 245, 245, 0.877);
}

.action-button-edit{
  text-align: right;
  color: #F7F7F7;
  padding-right: 15px;
  background: $save-green;
  &:hover{
    background: darken($save-green, 10);
  }
  i{
    line-height: 250px;
  }
}

.swipeable{
  display: flex;
  position: relative;
  // overflow: hidden;
  z-index: 2;
  margin-bottom: 40px;
  vertical-align: bottom;
  backface-visibility: hidden;
  &:last-child{
    margin: 0;
  }
  .inner{
    position: relative;
    z-index: 2;
    flex-grow: 1;
    backface-visibility: hidden;
    background: #F7F7F7;
    padding: 5px $icon-area-width 5px 12px;
    cursor: grab;
    &:active{
      cursor: grabbing;
    }
  }
}

  // $size: 2px;
  // .tab-icon{
  //   position: absolute;
  //   top: 50%;
  //   right: ($icon-area-width/2)-$size;
  //   margin-top: -$size/2;
  //   margin-right: $size/2;
  //   width: $size;
  //   height: $size;
  //   &:before, &:after{
  //     content: '';
  //     position: absolute;
  //     height: 100%;
  //     width: 100%;
  //   }
  //   &:before{
  //     top: -$size*2;
  //   }
  //   &:after{
  //     top: $size*2;
  //   }
  // }
