@import '../config/font-sizes';

.card {
  border-radius: 30px;
  margin: 20px 0px;
  padding: 16px;
  box-shadow: 0 6px 4px rgba(black, 0.2)
}

.task-card {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: $medium-font;
}

.modal-body{
  margin: 10px;
}
