.modal-body > .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  border-radius: 4px;
}

#pop-up-avatar{
  width: 120px;
}

.modal-body {
  padding: 0px 0px 40px;
}

.modal-body > h1 {
  color: $dark-blue;
}

#close{
  padding: 4px;
  background-color: $dark-blue;
  opacity: 1;
  width: 36px;
}

.btn-close {
  color: whitesmoke;
}
