.navbar-team {
  // justify-content: space-between;
  background: #242474;
  height: 70px;
  padding: 2px;
}

.navbar-lewagon.navbar-collapse {
  flex-grow: 0;
}

// .navbar-brand {
//   width: 50px;
// }
