/* The switch - the box around the slider */
.toggle-look {
  background-color: #e6d8d2;
  border-radius: 30px;
  padding: 8px;
}

.latest {
  color: $orange;
  font-size: $medium-font;
  font-weight: 600;
}

.achievement-card {
  background:linear-gradient(75deg, #fffbee 15%,rgba(218, 109, 6, 0.449) 100%);
}

.achievement-img {
  width: 100px;
  height: 100px;
}

.achievement-info {
  color: $dark-blue;
}

.locked-achievement-img {
  filter: grayscale(100%);
  width: 100px;
  height: 100px;
}

.notifications{
  padding-top: 15px;
}

.following-card{
  height: 40px;
}

.btn-reject{
  border-radius: 8px;
  color: white;
  font-weight: 600;
  background-color: $orange;
  border-style: none;
  margin-right: 30px;
  &:hover {
    background-color: $orange;
    color: $dark-blue;
    opacity: 0.8;
}
}
