.task-category {
  color: white;
  font-weight: 300;
  border-radius: 4px;
  padding: 8px 12px;
}

.groceries-color {
  color: $Groceries-color;
  font-weight: 900;
}

.personal-color {
  color: $Personal-color;
  font-weight: 900;
}

.work-color {
  color: $Work-color;
  font-weight: 900;
}
